html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-image: url(./../images/8DKFMK9UNW.jpg);
  background-color: #153859;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar a{
  color: white;
}
.navbar a:hover{
  color: white;
}
.title {
  margin-top: 90px;
  margin-bottom: 90px;
  color: rgba(255, 255, 255, 0.90);
}
.title h1{
  font-size: 80px;
  font-weight: 500;
}
.search-box{
  margin: auto;
  width: 600px;
  opacity: 0.9;
}
.search-box .button-submit{
  margin-top: 10px;
}
