html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-image: url(./../images/8DKFMK9UNW.jpg);
  background-color: #153859;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar a{
  color: white;
}
.navbar a:hover{
  color: white;
}

.search-section .title {
  margin-top: 90px;
  margin-bottom: 90px;
}
.title h1{
  font-size: 80px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.90);
}
.search-box{
  margin: auto;
  width: 600px;
  opacity: 0.9;
}
.search-box .button-submit{
  margin-top: 10px;
}
.place-box {
  width: 255px;
  height: 234px;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 10px;
}
.place-box h3{
  margin-bottom: 30px;
}
.place-box button{
  width: 255px;
}



h3{
  color: #153859;
}

.listed {
  background-color: rgba(0, 0, 0, 0.76);
}
.place-name-box{
  width: 255px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 255px 200px;
}
.place-name-box a{
  color: rgba(255, 255, 255, 0.83);

  font-size: 20px;
}
.name-box{
  background-color: rgba(0, 0, 0, 0.75);

}
.btn-going:hover {
  background-color: rgb(164, 30, 30);
}
