<header class="navbar">
  <div class="container">
    <!-- <a class="navbar-brand" href="#">MyNight</a> -->
    <div class="navbar-text navbar-right">
      <a href="#/auth">Sign up</a>
    </div>
  </div>
</header>
<div class="loading" ng-show="search.loading">
  <div class="container text-center">
    <i class="fa fa-spinner fa-pulse fa-5x" style="color:white"></i>
  </div>
</div>
<div class="content" ng-hide="search.loading">
  <div class="container">
    <div class="alert alert-danger" role="alert" ng-show="search.result">
      <i class="fa fa-exclamation-circle"></i> {{search.result}}
    </div>
    <!-- <div class="alert-text" ng-show="search.result">
      <p class="bg-danger">{{search.result}}</p>
    </div> -->
    <div class="search-section" ng-hide="places[0].name">
      <div class="title text-center">
        <h1>MyNight</h1>
      </div>
      <div class="search-box">
        <form name="form">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input type="text" name="place" class="form-control" placeholder="Where are you?" aria-describedby="sizing-addon1" ng-model="search.text" required="">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default" ng-click="find()">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="list-section" ng-show="places[0].name">
      <div class="row">
        <div class="title text-center col-md-4">
          <h1>MyNight</h1>
        </div>
      <form class="col-md-8" style="padding-top: 48px;">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </span>
          <input type="text" class="form-control" placeholder="Where are you?" aria-describedby="sizing-addon1" ng-model="search.text" required="">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default" ng-click="find()">Search</button>
          </div>
        </div>
      </form>
      </div>
      <div class="row">
        <div class="col-md-3" ng-repeat="place in places">
          <div class="place-box">
            <div class="place-name-box" style="background-image: url({{place.image_url}});">
              <div class="name-box">
                <a class="place-name text-center" ng-href="{{place.url}}">{{place.name}}</a>
              </div>
            </div>
            <button class="btn btn-default" ng-hide="place.going" ng-click="setGo(place,true)">Eu vou!</button>
            <button class="btn btn-success btn-going" ng-show="place.going" ng-click="setGo(place,false)">Estarei</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
